<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="login">
        <h2>What's your nickname?</h2>
				<input type="text" class="nickname" maxlength="20" placeholder="Type here...">
  </div>
	<div id="container" class="container">
		<h1 id="welcomeM"></h1>
		<ul id="messages"></ul>
		<form>
			<input class="message" type="text" id="m" autocomplete="off" placeholder="Type here...">
			<button>send</button>
		</form>
	</div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
